body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.header{
    background-color: #de3926;
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    font-family: century gothic;
    font-size: 60PX;
    
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0px 20px 40px rgba(0,0,0,.3);
    width: 400px;
    background-color:whitesmoke;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: black; 
    width: 50%;
    height: fit-content;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    color: black;
    font-family: century gothic;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px
}
button{
    float: left;
    width: 150px;
    height: 80px;
    background-color: #de3926;
    border: none;
    color: white;
    font-family: century gothic;
    font-size: 20px;
}
button:hover{
    float: left;
    width: 150px;
    height: 80px;
    background-color: red;
    border: none;
    color: white;
    font-family: century gothic;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: century gothic;
    border-top: ;
    border-color: black;
    position: relative;
}

.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li .fa-check-square{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-check-square{
    color: darkgray;
}